bin/
obj/
.vs/
.vscode/
Debug/
Release/
x64/
x86/
*.user
*.rsuser
*.suo
*.pdb
*.ilk
*.exe
*.cache
*.log
*.tmp
*.nupkg
packages/
TestResults/
coverage/
artifacts/
release-staging/
ffmpeg.exe
settings.ini